h1{
    
    margin-bottom: 10%;
    margin-top:5%;
}
h5{
    font-weight:600;
    margin-top:2px;
   background-color:lightsteelblue;
}
h6{
    font-weight:600;
    
}


#frst{
    
    margin-top:5%;
    background-color:rgb(218, 224, 230);
}
#sec{
    
    margin-top:5%;
}